<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl" version="1.0.1" targetFramework="net45" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="NStatsD.Client" version="1.4.1.0" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.3.2" targetFramework="net45" />
  <package id="SimpleInjector" version="2.5.0" targetFramework="net45" />
  <package id="SmartThreadPool.dll" version="2.2.3" targetFramework="net45" />
</packages>